<div class="wrap content">
  <div class="marbles_intro">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img class="marble_header_image" src="{{absURL "/images/dewang-gupta-marble.jpg"}}" alt="Marble image" loading="lazy" decoding="async" />
        <div class="unsplash_attribution">
          Photo by <a href="https://unsplash.com/@dewang">Dewang Gupta</a> on <a href="https://unsplash.com/">Unsplash</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <h1>OCaml Marbles</h1>
        <p>On this site I want to collect different algorithms and datastructures implemented in the OCaml programming language.</p>
        <p>Many similar sites/books exists for a variety of programming languages, and usually people call them things like <em>Pyhon pearls</em>, <em>JavaScript Gems</em>, ...</p>
        <p>The reason I'm calling them marbles is simple. I do not claim that the programs I present here are the most elegant, or the most performant. They are 
          not meant to be used in production, but rather should provide a playground for experimentation. And people are much more likely to play with marbles than 
          with expensive jewellery &#x1F609;
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 hide-sm" style="height: 5vh"></div>
    <div class="marbles_group_header col-xs-12">Trees</div>
  </div>

  <div class="marbles" id="marbles">
    <div class="row">
      {{ partial "marble-card" (.Site.GetPage "/binarytree") }}
      {{ partial "marble-card" (.Site.GetPage "/redblacktree") }}
    </div>
  </div>
</div>

